{{#with object}}
<div id="sidebar" class="collapse collapse-horizontal show border-end">
    <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
        <a href="/" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-bootstrap"></i> <span>
            Добавить новый
        </span> </a>
        <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-film"></i> <span>
            Добавить ХВС-Болид
        </span></a>
        <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-heart"></i> <span>
            Добавить ГВС-Болид
        </span></a>
        <a href="/objectMenuAddCoolHotBolid/{{id}}" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-bricks"></i> <span>
            Добавить ХГВС-Болид
        </span></a>
        <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-film"></i> <span>
            Добавить ХВС-Пульсар
        </span></a>
        <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-heart"></i> <span>
            Добавить ГВС-Пульсар
        </span></a>
        <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-bricks"></i> <span>
            Добавить ХГВС-Пульсар
        </span></a>
        <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-bricks"></i> <span>
            Настройки
        </span></a>
    </div>
</div>
{{/with}}


<style>
    .list-group-item {
        font-size: 12px;
    }
</style>