<div class="container">
    <div class="row mt-3 justify-content-center">
        <div class="col text-center" >
            <!-- Кнопка-триггер модального окна -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Добавить объект
            </button>

            <!-- Модальное окно -->
            <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="/" method="post">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Добавление нового объекта</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                            </div>
                            <div class="modal-body">

                                <div class="mb-3">
                                    <label for="nameObject" class="form-label">Наименоваение объекта</label>
                                    <input type="text" class="form-control" name="nameObject" id="nameObject" aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="descriptionObject" class="form-label">Описание объекта</label>
                                    <textarea class="form-control" id="descriptionObject" name="descriptionObject" aria-label="С текстовым полем"></textarea>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-primary">Добавить</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Список адресов перебираются-->
    <div class="row mt-3">
        <div class="row">
            {{#each objects}}
            <div class="col-sm-4 mt-3 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">
                            {{description}}
                        </p>
                        <a href="/{{id}}" class="btn btn-primary">Перейти к объекту</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
</div>

